* {
    margin: 0;
    padding: 0;
    background-color: cyan;
}

html, body{
    height: 100%;
    width: 100%;
}

input {
    display: flex;
    background-color: white;
}

input[type="text"] {
    height: 25px;
    width: 500px;
}


.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
